/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header .user-info {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 15px; /* Khoảng cách giữa các phần tử */
}

header .user-info button {
    background: none;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.sidebar {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 5px;
    border-radius: 5px;
    text-align: center;
}

.sidebar a:hover {
    background-color: #575757;
}

.content {
    padding: 20px;
}

/* Form Styles (Shared) */
.form-container {
    background-color: #1f2a3d;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
    width: 100%;
    max-width: 400px;
    margin: 0 auto; /* Center the form */
    color: #fff;
    transition: transform 0.3s ease-in-out;
}

.form-container:hover {
    transform: translateY(-10px);
}

h1 {
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
}

label {
    font-size: 14px;
    margin-bottom: 4px;
    display: block;
    color: #d1d8e1;
}

input[type="text"], input[type="email"], input[type="password"], input[type="number"], select, textarea {
    width: 94%;
    padding: 8px;
    margin-bottom: 12px;
    background-color: #2f3a51;
    border: 1px solid #333d4b;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
    border-color: #00a8ff;
    background-color: #333d4b;
}

button {
    background-color: #00a8ff;
    color: #fff;
    padding: 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cd137;
}

.errors {
    color: #e84118;
    margin-bottom: 15px;
    font-size: 14px;
}
